&-FormEdit {
    $submit_size: 2.5em;
    $group_horizontal_padding: 0.5em;
    margin-bottom: $submit_size;

    &-group {
        position: relative;
        max-width: $pc-break;
        padding: 1em $group_horizontal_padding $submit_size/2 $group_horizontal_padding;
    }

    &-legend {
        padding: 0 0.25em 0 0;
        color: $color_text_light;
        background-color: white;
        font-size: 1.25em;
        font-style: italic;
    }

    &-submit {
        $color_submit: $color_accent;

        @include button($color_accent, $color_text_inverted, $submit_size/2);
        position: absolute;
        bottom: 0;
        left: $group_horizontal_padding;
        margin-bottom: -$submit_size/2;
        width: $submit_size;
        height: $submit_size;
        font-weight: 200%;
    }

    &-disabled,
    &-disabled:hover,
    &-disabled:focus {
        pointer-events: none;
        background-color: #B0B0B0;
        border-color: darken(#B0B0B0, 20%);
    }

    @media(min-width: $tablet_break) {
        $group_horizontal_padding: 2em;

        &-group {
            padding: 2em $group_horizontal_padding 1em+$submit_size/2 $group_horizontal_padding;
        }
        &-submit {
            left: $group_horizontal_padding;
        }
    }
}
