&-FormInput {
    $input_shadow: 0 0 4px;

    display: flex;
    flex-direction: column;

    &-label {
        font-weight: bold;
        margin-bottom: 0.5em;
    }
    &-input {
        @include input;

        &-valid[required] {
            border-color: $color_valid;
            &:focus {
                border-color: $color_focus;
            }
        }
        &-error {
            border-color: $color_error;
            &:focus {
                border-color: $color_error;
                box-shadow: $input_shadow $color_error_shadow;
            }
        }
    }
    &-error {
        &-info {
            margin: 0.5em 0 1em 0;
            color: $color_error;
            font-size: 0.75em;
            font-style: italic;
        }
    }
}