&-Tournament {
    &NewButton {
        @include button;
    }
}

&-TournamentOnlineList {
    @mixin lastUpdate {
        color: $color_text_muted;
        font-size: 80%;
        font-style: italic;
    }

    &-lastUpdate {
        @include lastUpdate;
    }

    &Item {
        $line_spacing: 0.6em;
        $download_size: 2.2em;

        td {
            padding: $line_spacing/2 1em $line_spacing/2 0;
        }

        &-download {
            @include button(white, $color_text, $download_size/2);
            height: $download_size;
            width: $download_size;
        }

        &-downloadLabel {
            display: none;
        }

        &-lastUpdate {
            @include lastUpdate;
        }
    }
    @media(max-width: $tablet_break) {
        &-lastUpdate {
            display: none;
        }

        &Item {
            &-lastUpdate {
                display: none;
            }
        }
    }
    @media(min-width: $tablet_break) {
        &Item {
            &-download {
                border-radius: $border_radius_default;
                width: auto;
            }

            &-downloadLabel {
                display: initial;
            }
        }
    }
}