@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Droid Sans'), local('DroidSans');
}

@font-face {
    font-family: 'Cookie';
    font-style: normal;
    font-weight: 400;
    src: local('Cookie-Regular'), url(../fonts/Cookie-Regular.ttf) format('truetype');
}

*, html, body {
    font-family: Droid Sans;
}

html, body {
    color: $color_text;
}

.sd-text-muted {
    color: $color_text_muted;
}
