& {
    display: flex;
    flex-direction: column;
    height: 100vh;

    &-Page-container {
        flex-grow: 1;
        position:relative;
    }
    &-Page {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    &-PageMenu {
        order: 2;
    }
    &-PageContent {
        order: 1;
        flex-grow: 1;
        position: relative;

        &-insider {
            position: absolute;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            overflow: auto;
            padding: 3px;
        }
    }
    @media (min-width: $tablet_break) {
        &-PageContent {
            &-insider {
                padding: 1em;
            }
        }
    }
    @media (min-width: $pc_break) {
        &-Page {
            flex-direction: row;
        }
        &-PageMenu {
            order: 0;
        }
        &-PageContent {
            order: 0;
        }
    }
}
