@mixin button($color: white,
              $text: $color_text,
              $border_radius: $border_radius_default) {
    display: block;
    box-sizing: border-box;
    cursor: pointer;
    background-color: $color;
    color: $text;
    padding: $padding_default;
    border: 1px solid darken($color, 20%);
    border-radius: $border_radius;
    text-align: center;
    text-decoration: none;

    &:hover,
    &:focus {
        background-color: darken($color, 10%);
        outline: none;
    }
}

@mixin input {
    background-color: white;
    border: $border_default;
    padding: 0.5em;
    line-height: 1.35em;

    &[required] {
        border-width: 1px 1px 1px 5px;
    }
    &:focus {
        border-color: $color_focus;
        box-shadow: 0 0 4px $color_focus_shadow;
        outline: none;
    }
}
