$border_radius: 2px;

$color_primary: #2196F3;
$color_primary_dark: #1976D2;
$color_border: rgba(0, 0, 0, 0.6);
$color_border_light: rgba(0, 0, 0, 0.3);
$color_shadow: rgba(0, 0, 0, 0.6);
$color_hover: rgba(0, 0, 0, 0.175);

$color_text: rgba(0,0,0,0.75);
$color_text_muted: rgba(0,0,0,0.4);
$color_text_inverted: white;

$tablet_break: 600px;
$pc_break: 900px;

$padding_default: 0.5em;

$border_default: 1px solid $color_border;
$border_radius_default: 3px;
$box_shadow_default: 0px 1px 3px 0px $color_shadow;
