$border_radius: 2px;
$color_shadow: rgba(0, 0, 0, 0.3);

$color_primary: #2196F3;
$color_primary_dark: #1E88E5;
$color_primary_darker: #1976D2;
$color_primary_light: #90CAF9;
$color_primary_lighter: #BBDEFB;

$color_secondary: #E91E63;
$color_secondary_dark: #D81B60;
$color_secondary_darker: #C2185B;
$color_secondary_light: #F48FB1;
$color_secondary_lighter: #F8BBD0;

$grey: #9E9E9E;
$grey_dark: #757575;
$grey_darker: #616161;
$grey_light: #BDBDBD;
$grey_lighter: #E0E0E0;

$color_text: rgba(0,0,0,0.75);
$color_text_muted: rgba(0,0,0,0.4);
$color_text_inverted: white;
