$border_radius: 2px;

$color_primary: #2196F3;
$color_primary_dark: #1976D2;
$color_primary_light: #03A9F4;
$color_primary_bckgnd: lighten($color_primary_light, 15%);
$color_accent: #4CAF50;
$color_border: rgba(0, 0, 0, 0.4);
$color_shadow: rgba(0, 0, 0, 0.6);
$color_hover: darken(white, 15%);
$color_focus: $color_primary_light;
$color_focus_shadow: rgba($color_focus, 0.75);
$color_error: #F44336;
$color_error_shadow: rgba($color_error, 0.75);
$color_error_bckgnd: lighten($color_error, 15%);
$color_warning: #FFC107;
$color_warning_bckgnd: lighten($color_warning, 15%);
$color_valid: #4CAF50;
$color_valid_shadow: rgba($color_valid, 0.75);
$color_valid_bckgnd: lighten($color_valid, 15%);

$color_text: rgba(0,0,0,0.75);
$color_text_light: rgba(0,0,0,0.6);
$color_text_muted: rgba(0,0,0,0.4);
$color_text_inverted: white;

$tablet_break: 600px;
$pc_break: 900px;

$padding_default: 0.5em;
$margin_default: 0.5em;

$border_default: 1px solid $color_border;
$border_radius_default: 3px;
$box_shadow_default: 0px 1px 3px 0px $color_shadow;
