&-Round {
    &Edit {
        &-gamesList {
            width: 100%;
            border: 0px solid transparent;
        }

        &-warning {
            &-info {
                margin: 0.5em 0 1em 0;
                color: $color_warning;
                font-size: 0.85em;
                font-style: italic;
            }
        }

        input, select {
            padding: 0.3em 0;
            @media(min-width: $tablet_break) {
                padding: 0.5em;
            }
        }
    }

    &GamesEdit {
        &-table, &-faction {
            width: 1%;
            input {
                max-width: 3em;
            }

            &.sd-RoundGamesEdit-warning {
                background-color: $color_warning_bckgnd;
            }
        }
    }
}
